
<div *ngIf="status">   
    <table class="table">
        <thead class="thead-dark">
            <tr>                    
                <th scope="col-auto mx-auto">Street</th>
                <th scope="col-auto mx-auto">House Number</th>
                <th scope="col-auto mx-auto">Postal Code</th>
                <th scope="col-auto mx-auto">City</th>
                <th scope="col-auto mx-auto">Latitude</th>
                <th scope="col-auto mx-auto">Longitude</th>
                <th scope="col-auto mx-auto">Distance</th>
                <th scope="col-auto mx-auto">Type</th>
                <th scope="col-auto mx-auto">Maps</th>
            </tr>
        </thead>               
        <tbody>                
            <tr *ngFor="let resp of searchResponse; index as i">                       
                <td>{{ resp.address.street }}</td>
                <td>{{ resp.address.housenumber }}</td>
                <td>{{ resp.address.postalcode }}</td>
                <td>{{ resp.address.city }}</td>
                <td>{{ resp.address.geoLocation.lat }}</td>
                <td>-{{ resp.address.geoLocation.lng }}</td>
                <td>{{ resp.distance }}</td>
                <td>{{ resp.type }}</td>
                <td>
                    <button type="button" (click)="setMapIndex(i)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ModalMaps">
                        Open Maps
                    </button>
                </td>

            </tr>                                       
        </tbody>
    </table>

    <button type="button" (click)="cleanResult()" class="btn btn-primary">Clean Result</button>     

    <br><br>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalMaps" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalMaps" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content"> 

            <div class="row justify-content-center pt-5">
                <div id="mapsContent" width="200px" ></div>
            </div>      
            
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
      </div>
    </div>
  </div>
