<div class="container">
    <div class="row justify-content-center mx-auto">   
        <div class="col-auto">
            <app-navbar></app-navbar>

            <br><br><br>
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" id="banner-principal">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">Are you looking for an ATM near you??.</h1>
                    <p class="lead my-3"><p>Do not wait more. use our new app to find them.</p> <p>If you click on the next link, you can access the application. Enjoy it. </p>
                    <p class="lead mb-0"><a routerLink="/search" class="text-white font-weight-bold">Strart a New Search...</a></p>
                </div>
            </div>
            
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h3 class="mb-0">Example Model</h3>
                            <div class="mb-1 text-muted">Jun 19</div>
                            <p class="card-text mb-auto">This is a model text used as an example to create the main area..</p>                            
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="../../assets/images/atm_2.jpg">
                        </div>                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">Design</strong>
                            <h3 class="mb-0">Other Mock Example</h3>
                            <div class="mb-1 text-muted">Jun 19</div>
                            <p class="mb-auto">This is a model text used as an example to create the main area.</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Mock Text Example. <span class="text-muted">If you are reading this, you are reading an example.</span></h2>
                    <p class="lead">This is a model text used as an example to build the main area.</p>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/images/atm_3.jpg" width="400" height="250">
                </div>
            </div>
            
        </div>
    </div>
</div>